:root {
    --font-stack: 'Open Sans', system-ui, Roboto, 'Open Sans', sans-serif;
    --font-color: #001a33;
    --bg-color: #f1f5f9;
    --sidebar-bg-color: #f8fafc;
    --header-bg-color: #475569;
    --card-shadow: 0px 2px 7px 0px #00000038;
    --cards-bg-color: #f8fafc;
}

body {
    font-family: var(--font-stack);
    background-color: var(--bg-color);
}

img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: minmax(100px, 9vw);
    grid-template-areas: "sidebar header"
                         "sidebar content";      
    > .header {
        grid-area: header;
        padding: 13px clamp(10px, 3vw, 10vw);
        display: grid;
        grid-template-rows: 1fr 1.5fr;
        grid-template-columns: 1fr 5fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "  search-icon     search-bar  search-bar    notif    profile-pic username"
                             "profile-picture    welcome    welcome    new upload     share";
    }

    > .sidebar {
        padding-left: 25px;
        grid-area: sidebar;
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: minmax(100px, 9vw) repeat(11, minmax(30px, 3.4vw));
        grid-template-areas: "logo link";
        background-color: var(--sidebar-bg-color);
        box-shadow: -16px 0px 12px 9px black;
    }

    > .content {
        width: 96%;
        height: 86%;
        grid-area: content;
        justify-self: center;
        align-self: center;   
        display: grid;
        gap: 0 10px;
        grid-template-columns: 2.4fr 1fr;
        grid-template-rows: minmax(25px, 2vw);
        grid-template-areas: "text1 text2"
                             "left-wrapper right-wrapper";
    }
}

a {
    text-decoration: none;
    color: var(--font-color);
}

p,
h2 {
    margin: 0;
    padding: 0;
}

button {
    appearance: none;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 10px;
}

/* Sidebar styling */

.dashb-logo { 
    grid-area: logo; 
    align-self: center;
    justify-self: center;
    width: 90%;
    height: 90%;
}

.dashb-text {
    grid-area: link; 
    align-self: center;
    font-weight: bold;
    font-size: max(0.5rem, 1.7vw);
}

.logo {
    grid-column: 1;
    width: max(5px, 55%);
    height: max(5px, 55%);
    align-self: center;
    justify-self: center;
}

.link {
    grid-column: 2;
    align-self: center;
    font-weight: bold;
    font-size: clamp(5px, 1.1vw, 3rem);
}

.settings {
    grid-row: -5;
}

.support {
    grid-row: -4;
}

.privacy {
    grid-row: -3;
}

/* Header styling */

/* Row one */

.search-icon {
    grid-area: search-icon;
    width: 55%;
    height: 55%;
    align-self: center;
    justify-self: center;
}

.button:hover,
.notif:hover,
.profile-pic:hover,
.profile-picture:hover,
.search-icon:hover,
button {
    cursor: pointer;
}

.search-bar {
    grid-area: search-bar;
    appearance: none;
    margin: 0;
    border: 1px solid #dcdcdc;
    border-radius: 21px;
    padding: 0 20px;
    height: min(2.6vw, 60px);
    align-self: center;
}

.search-bar:hover {
    transition: .3s;
    background-color: #fcfcfc;
}

.search-bar:focus-visible {
    outline: none;
}

.search-bar::placeholder {
    font-size: 1.2vw;
}

.notif {
    grid-area: notif;
    width: 55%;
    height: 55%;
    align-self: center;
    justify-self: end;
}

.profile-pic {
    grid-area: profile-pic;
    width: 55%;
    height: 55%;
    align-self: center;
    justify-self: center;
}

.username {
    grid-area: username;
    font-weight: 400;
    margin: 0;
    justify-self: center;
    align-self: center;
    font-size: min(1.2vw, 35px)
}

/* Row two */

.profile-picture {
    grid-area: profile-picture;
    align-self: center;
    justify-self: center;
    width: 2.9vw;
    height: 2.9vw;
}

.welcome {
    padding: 0;
    margin: 0;
    grid-area: welcome;
    display: flex;
    flex-direction: column;
    justify-content: center;
    > p {
        font-size: min(1.2rem, 1vw);
    }

    > h2 {
        font-size: min(1.5rem, 1.5vw);
    }
}

.new,
.upload,
.share {
    font-size: 0.9vw;
    width: clamp(10px, 6vw, 150px);
    height: clamp(20px, 2.4vw, 75px);
    border-radius: 5px;
    align-self: center;
    justify-self: center;
}

button:hover {
    transition: 0.1s;
    filter: brightness(98%);
}

button:active {
    transition: 0.1s;
    filter: brightness(95%);
}

.new {
    grid-area: new;
}

.upload {
    grid-area: upload;
}

.share {
    grid-area: share;
}

/* Content styling */

.text {
    grid-area: text1;
    align-self: center;
    font-weight: bold;
    font-size: min(1.6rem, 1vw);
}

.left-wrapper {
    grid-area: left-wrapper;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
    > .card {
        width: 100%;
        height: 100%;
        box-shadow: var(--card-shadow);
        background-color: var(--cards-bg-color);
        border-left: 5px solid #475569;
        border-radius: 5px;
        padding: 20px 25px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 12px;

        > h4 {
            margin: 0;
            font-size: min(1.8rem, 1.3vw);
        }

        > p {
            margin-bottom: auto;
            font-size: max(0.3rem, 1.1vw);
        }
    }
}

.card:hover {
    cursor: pointer;
}

.card-icons {
    display: flex;
    gap: 5px;
    align-self: end;
    > img {
        width: 1.6vw;
        height: 1.6vw;
    }
}

.right {
    grid-area: text2;
}

.right-wrapper {
    grid-area: right-wrapper;
    display: grid;
    grid-template-rows: 3fr 0.5fr 3fr;
    justify-items: center;
    align-items: center;
    > .wrapper-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        width: 100%;
        height: 100%;
        background-color: var(--cards-bg-color);
        box-shadow: var(--card-shadow);
        border-radius: 5px;
        box-sizing: border-box;
        padding: 0 25px;
    }

    > p {
        justify-self: start;
        font-weight: bold;
    }
}

.wrapper-card + p {
    font-size: max(0.3rem, 1.1vw);
}

.trending-card {
    display: flex;
    align-items: center;
    gap: 10px;
    > img {
        width: 3.2vw;
        height: 3.2vw;
    }
    h4 {
        font-size: max(5px, 1.1vw);
        margin: 0;
        + p {
            font-size: clamp(5px, 1vw, 30px);
        }
    }
}

.card-announce {

    border: 2px dotted black;
    border-radius: 5px;
    width: 92%;
    h5 {
        font-size: max(0.5rem, 1.3vw);
        margin: 0;
    }

    p {
        font-size: max(0.2rem, 1vw);
        padding: 5px;
    }
}